**~
**#*#
*
!init.el
!d
!d/*
!Inconsolata-LGC
!Inconsolata-LGC/*
!indent-tools
!indent-tools/*
**~
**#*#
!.emacs
!.gitignore
!README.md
!ps-ccrypt
!ps-ccrypt/*
!prettify-utils.el
!/prettify-utils.el/*
!offlineimaprcsrc
!erc-sasl
**~
**#*#
**.elc
